@import "../variables";
@import "../mixins";

.agent-box {
  @include flex-column;
  align-items: center;
  height: fit-content;
  width: 90%;
  border: $grey-border;
  color: black;
}

.agent-view-header {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: $grey-border;
}

.agent-finances-box {
  @include flex-column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;

  div {
    @include flex-row;
    width: 100%;
    justify-content: space-around;

    span {
      font-size: 14px;
      color: grey;
    }
  }
}

.agent-nav-btn {
  @include btn-styling;
}
