@import "../variables";
@import "../mixins";

.ad-background {
  @include flex-row;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  height: fit-content !important;
  background-size: cover;
  background-position: center center;
  padding: 2%;

  .advertisment {
    @include flex-column;
    align-items: flex-start;
    justify-content: flex-end;
    max-height: 250px;
    max-width: 600px;
    color: white;
    padding: 20px;
    border: solid 2px white;
    background-color: rgba(208, 208, 208, 0.4);

    .ad-wander,
    .ad-price,
    .ad-destination,
    .per-night {
      margin: 0px;
      color: white;
      font-family: "Nanum Myeongjo", serif;
    }

    .ad-destination {
      font-size: 78px;
    }

    .ad-wander {
      font-size: 42px;
      margin-left: 20px;
    }

    .ad-price {
      font-size: 36px;
    }

    .per-night {
      font-size: 19px;
      font-family: "Open Sans", sans-serif;
    }
  }

  // @media screen and (max-width: 1050px) {
  //   .advertisment {
  //     justify-content: center;
  //     margin-left: 30px;

  //     .ad-destination {
  //       font-size: 60px;
  //     }

  //     .ad-wander {
  //       font-size: 36px;
  //       margin-left: 20px;
  //     }

  //     .ad-price {
  //       font-size: 24px;
  //     }

  //     .per-night {
  //       font-size: 14px;
  //       font-family: "Open Sans", sans-serif;
  //     }
  //   }
  // }
  // @media screen and (max-width: 750px) {
  //   .advertisment {
  //     display: none;
  //   }
  // }
}
