@import "../variables";
@import "../mixins";

.new-trip-form {
  @include flex-column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 30vh;
  width: 60%;
  max-width: 400px;
  background-color: white;
  padding: 10px;

  s,
  h2 {
    margin: 0px 10px;
    font-size: 12px;
  }

  div {
    @include flex-row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }
}

.user-info {
  max-height: 200px;
  max-width: 100%;
}

.destination-input {
  height: 30px;
  width: 200px;
}

.input-box {
  @include flex-column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 2px;

  input {
    height: 30px;
    margin: 0px 5px;
    text-indent: 5px;
  }
}

.new-trip-btn {
  @include btn-styling;
  margin: 0px 20px;
  font-size: 14px;
}

.input-error-display {
  font-size: 16px;
  color: $red;
  margin: 3px 0px 5px 15px;
  padding: 0;
}
