@use "../variables";
@use "../mixins" as *;

header {
  @include flex-row;
  justify-content: space-between;
  background: white;
  width: 90%;
  height: 15vh;
  border-bottom: $grey-border;
  padding: 0px 0px 0px 100px;
  align-items: center;
  color: $red;
}

.page-title {
  height: 30px;
  margin: 24px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 50px;
}

.logo {
  @include flex-row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  width: 400px;
  height: 60px;
  color: $red;
}

.nav-btn-box {
  @include flex-row;
  justify-content: space-between;
  align-items: flex-end;
  width: 250px;
}

.nav-btn {
  @include btn-styling;
  @include white-red;
}
