@import "../variables";
@import "../mixins";
@import "../agent-view/agent-mode";

.trip-details-view {
  @extend .agent-box;
  padding: 0px;
  justify-content: space-evenly;

  .trip-view-img {
    height: 40vh;
    width: 800px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }

  .details-wrapper {
    @include flex-row;
    justify-content: space-evenly;
    width: 100%;

    li {
      list-style-type: none;
      margin: 5px;
    }
  }

  .trip-details {
    @include flex-column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    width: 40%;
    height: 300px;
  }

  .event-details {
    @include flex-column;
    justify-content: center;
    width: 400px;

    h3 {
      background-color: rgb(207, 207, 207);
      color: grey;
      padding: 25%;
      text-align: center;
      text-indent: center;
    }
  }
}
