@import "../variables";
@import "../mixins";
@import "../agent-view/agent-mode";

.trip-details-view {
  @extend .agent-box;
  padding: 0px;
  justify-content: space-evenly;

  .trip-view-header {
    height: 400px;
    width: 800px;
    margin: 20px;
    background-position-x: center;
    background-position-y: center;
  }

  .trip-details-info {
    @include flex-row;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;

    li {
      list-style-type: none;
      margin: 5px;
    }
  }

  .event-details,
  .trip-details {
    width: 40%;
    height: 300px;
  }

  .trip-details {
    @include flex-column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
  }

  .event-details {
    @include flex-column;
    justify-content: center;
    height: 90%;
    width: 400px;
    background-color: rgb(207, 207, 207);
    color: grey;
  }
}
